<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Form_Registration</title>
</head>
<body>
   <div th:fragment="notify">
	   <div th:if="${notification != null}">
		<h3>Notification</h3>
		<div>last notification was sent <span th:text="${delay}"></span>ms ago</div>
		<br>
		<div th:each="n,n_stat : ${notification.getEventNotifications()}">
			<div th:if="${n.getTimeStampGen()!=null}"><span th:text="${n.getTimeStampGen()}"></span></div>
			<hr>
			<div th:each="i,i_stat : ${n.getNfLoadLevelInfos()}">
				<div th:if="${i.getNfInstanceId()!=null}">nfInstanceId=<span th:text="${i.getNfInstanceId()}"></span></div>
				<div th:if="${i.getNfSetId()!=null}">nfSetId=<span th:text="${i.getNfSetId()}"></span></div>
				<div th:if="${i.getNfType()!=null}">nfType=<span th:text="${i.getNfType().getNfType()}"></span></div>
				<div>nfCpuUsage=<span th:text="${i.getNfCpuUsage()}"></span></div>
				<div>nfMemoryUsage=<span th:text="${i.getNfMemoryUsage()}"></span></div>
				<div>nfStorageUsage=<span th:text="${i.getNfStorageUsage()}"></span></div>
				<br>
			</div>
		</div>
		
		<div th:if="${nnwdafEventsSubscription.getShowNotifBody()==true}">
			<br>
			<h3>Notification Body</h3>
			<div style="white-space: pre-wrap;" th:text="${notification}"></div>
		</div>
	</div>
   </div>
</body>
</html>