<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Subscriptions</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <style>
        .dark-mode {
            background-color: #333;
            color: #ddd;
        }

        .dark-mode a {
            color: #00f;
        }
    </style>
</head>
<body class="dark-mode">
<div class="container" th:if="${subscriptions != null}">
    <h3>Event Subscriptions</h3>
    <table class="table table-bordered table-dark">
        <tr>
            <th>Subscription ID</th>
            <th>Notification URI</th>
            <th>Request Form</th>
            <th>Number of Event Subscriptions</th>
            <th>List of Events</th>
        </tr>
        <tr th:each="s : ${subscriptions}">
            <td th:text="${s.getKey()}"></td>
            <td th:text="${s.getValue().getNotificationURI()}"></td>
            <td><a th:href="@{/client/formSuccess/{id}(id=${s.getValue().getId()})}" th:text="${s.getValue().getId()}"></a></td>
            <td th:text="${s.getValue().getEventSubscriptions().size()}"></td>
            <td th:text="${eventMap.get(s.getKey())}"></td>
        </tr>
    </table>
</div>
</body>
</html>